@model SeoPartViewModel

@*<div class="form-group">
    <div class="row col-sm-6">
        <label asp-for="PageTitle">@T["Page title"]</label>
        <input asp-for="PageTitle" class="form-control">
        <span class="hint">@T["The page title."]</span>
    </div>
</div>*@
<div class="form-group">
    <div class="row col-sm-6">
        <label asp-for="Description">@T["Description"]</label>
        <input asp-for="Description" class="form-control">
        <span class="hint">@T["The description."]</span>
    </div>
</div>
<div class="form-group">
    <div class="row col-sm-6">
        <label asp-for="Keywords">@T["Keywords"]</label>
        <input asp-for="Keywords" class="form-control">
        <span class="hint">@T["The Keywords."]</span>
    </div>
</div>